.main {
    padding-top: 25px;
}

.pane {
    background-color: #fffcf2;
    height: 730px;
}

.content {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

input {
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 0;
}

.square {
    height: 220px;
    width: 220px;
    background-color: #FA6900;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.square:hover {
    cursor: pointer;
    background-color: #ffc195;
}

.x:hover, .o:hover {
    cursor: unset;
    background-color: #FA6900;
}

.x:after {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 110px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}

.o:after {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\26AA";
    font-size: 110px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}

